
body{
  background-color: #fff;
  color: #fff;
  // background-image: url('../images/b-fon.jpg');
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: cover;
  // min-height: 100vh;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
