// @media (max-width: 1300px) {}

// @media (max-width: 1200px) {}

@media (max-width: 1100px) {
  .portfolio {
    &__inner {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    &__img {
      margin-left: 0;
    }

    &__loupe {
      margin: -30px 0 0 260px;
    }
  }
}

// @media (max-width: 1000px) {}

// @media (max-width: 900px) {}

// @media (max-width: 800px) {}

@media (max-width: 700px) {
  .header {
    height: 700px;

    &__inner {
      display: block;
    }

    &__text {
      width: auto;
      display: block;
    }
  }

  .btn {
    text-align: center;
  }

  .info {
    &__text {
      &-media {
        display: none;
      }
    }
  }

  .modal {
    width: 400px;
    height: 370px;
  }
}

// @media (max-width: 600px) {}

@media (max-width: 500px) {
  .info {
    &__inner {
      padding: 20px 10px;
    }
  }
}

@media (max-width: 400px) {
  .modal {
    padding: 31px 0 0 0;
    width: 300px;
    height: 260px;
  }
}

// @media (max-width: 350px) {}