@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
  padding-top: 40px;
  background-image: url('../images/h-fon.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  height: 800px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // &__logo-link {}

  &__text {
    color: #000;
    font-size: 28px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    padding: 15px 20px;
    border-radius: 25px;
    width: 170px;
    background-color: #fff;
    border: 1px solid #000;
  }

  &__contacts {
    margin-top: 8px;

    &-item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }

    &-items {
      display: flex;
      margin-bottom: 10px;
      justify-content: center;
    }

    &-text {
      font-size: 23px;
      margin-right: 10px;
      color: #922dde;

      &__whatsapp {
        color: #2fbe40;
        margin-left: 10px;
      }
    }

    &-podtext {
      text-align: center;
      font-size: 16px;
      margin-top: 8px;
    }

    &-link {
      text-transform: uppercase;
      color: #fff;
      font-size: 21px;
    }
  }

  &__span {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }
}

.header-one {
  font-size: 33px;
}

.header-two {
  font-size: 35px;
}

.header-three {
  font-size: 18px;
}

.header-four {
  font-size: 35px;
}

.header__page {
  margin-left: 14px;
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    margin-left: 100px;
  }

  &__link {
    font-size: 25px;
    color: #000;
  }
}

.btn {
  cursor: pointer;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  color: #000;
  background-color: #fff;
  transition: all .3s;
  font-size: 24px;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 45%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: #fff;
  padding: 2rem;
  transition: opacity 0.25s;
  width: 700px;
  height: 400px;
  border-radius: 15px;
  padding: 88px 0 0 0;
  background-image: url('../images/modal-fon.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.modal.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s;
}

.modal__bg {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 35)
}

.modal__bg.show {
  visibility: visible;
  opacity: 0;
  transition: opacity 0.7s;
}

.portfolio {


  &__title {
    color: #000;
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    padding-top: 50px;
  }

  &__inner {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px 5px;
  }

  &__img {
    display: block;
    width: 300px;
    margin-left: 43px;
    box-shadow: 8px 10px 12px #ccc;
    position: relative;
    transition: all .4s;

    &:hover {
      box-shadow: 8px 10px 12px #4d5671;
    }
  }

  &__loupe {
    display: inline-block;
    position: absolute;
    margin: -30px 0 0 300px;
  }
}

.slider {
  padding: 70px 0 40px 0;
  &__inner{
    width: 1400px;
    height: 700px;
  }
}

.slick-dots {
  text-align: right;
}

.slick-dots li {
  font-size: 0;
  border-radius: 50px;
  width: 12px;
  height: 10px;
  background-color: #fff;
  transition: all .5s;
  margin-left: 25px;

  &:hover {
    background: linear-gradient(30deg, #fff, #000);
  }
}

.slick-dots li button::before {
  font-size: 0;
}

.slick-dots li.slick-active {
  width: 20px;
  height: 10px;
  border-radius: 50px;
  background: linear-gradient(60deg, #fff, #000);
}

.slick-prev {
  left: -60px;
}

.slick-next {
  right: -45px;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 40px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.info {
  padding-top: 100px;

  &__inner {
    margin-top: -200px;
    position: relative;
    border-radius: 10px;
    display: block;
    align-items: center;
    background-color: #4d5671;
    padding: 20px 50px;
    // background-image: url('../images/info-fon.jpg');
    // background-repeat: no-repeat;
    // background-position: center bottom;
    // background-size: cover;
  }

  &__content {
    padding: 20px 0 0 15px;
    width: 100%;
    margin-right: 20px;
    text-align: left;

    &-two {
      margin: 0 0 0 20px;
    }
  }

  &__text {
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.footer {
  background-color: #4d5671;
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: center;
  }
}

@import 'media';