@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
  padding: 20px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;

    &-text {
      color: #000;
      font-size: 20px;
      margin-right: 7px;
    }
  }

  &__img {
    width: 50px;
    height: 50px;
  }

  &__contact {
    display: flex;
    align-items: center;
  }

  &__link-tel {
    display: inline-block;
    margin: 0 20px 0;
    font-size: 18px;
    color: #000;
    position: relative;
    // &::before{
    //   content: "";
    //   background-image: url('../images/phone.png');
    //   width: 34px;
    //   height: 34px;
    //   top: 0;
    //   left: 0;
    //   background-repeat: no-repeat;
    //   position: absolute;
    // }
  }

  &__link {
    color: #000;
    padding: 10px 20px;
    border: 1px solid #e94217;
    border-radius: 50px;
    transition: all .3s;
  }
}


.btn {
  cursor: pointer;
  color: #000;
  padding: 10px 20px;
  border: 1px solid #e94217;
  border-radius: 50px;
  transition: all .3s;

  &:hover {
    background-color: #e94217;
    color: #fff;
  }
}

.modal {
  border: 1px solid #000;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 45%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: #000;
  padding: 2rem;
  transition: opacity 0.25s;
  width: 370px;
  height: 397px;
  border-radius: 15px;
  padding: 60px 20px 40px 20px;
  text-align: center;

  &__span {
    font-size: 30px;
  }

  &__text {
    color: #000;
    font-size: 19px;
    font-weight: 500;
    line-height: 23px;
    padding-bottom: 20px;

    &-page {
      color: #000;
      text-align: center;
    }
  }
}

.input {
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid #000;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;

  &__submit {
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 65px;
    padding: 14px 20px;
    color: #fff;
    background-color: #78cc26;
  }
}

.modal.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s;
}

.modal__bg {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 35)
}

.modal__bg.show {
  visibility: visible;
  opacity: 0;
  transition: opacity 0.7s;
}

.about {
  background-image: url('../images/b-fon.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 60vh;

  &__title {
    color: #fff;
    font-weight: 400;
    font-size: 38px;
    line-height: 50px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__text {
    color: #fff;
    margin-right: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    &-item {
      padding-top: 110px;
    }

    &-items{
      margin-top: 47px;
      border: 1px solid #000;
      width: 390px;
      height: 336px;
      background-color: #fff;
      padding: 40px 30px;
      border-radius: 20px;
    }
  }

  &__expression{
    position: relative;
    padding: 60px 0;
    background-color: #333;
    &-text{
      color: #fff;
      font-size: 21px;
      text-align: center;
    }
  }
}

.menu {
  padding: 10px 0;
  border-bottom: 1px solid #fff;

  &__list {
    display: flex;
    align-items: center;
  }

  &__list-item+.menu__list-item {
    margin-left: 40px;
  }

  &__link {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .02em;
    line-height: 20px;
  }
}

.options{
  padding: 40px 0;
  background-color: #333;
  &__inner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__item{
    width: 180px;
    text-align: center;
  }

  &__item img{
    display: inline-block;
  }

  &__text{
    color: #fff;
  }
}


@import 'media';